@import "./utils/variables";
@import "./base/normalize";
@import "./components/container";
@import "./utils/breakpoints";

body {
  background-color: $primaryBgColor;

  color: $primaryTextColor;
  font-family: $mainFont;
  font-style: $mainFontStyle;
  font-weight: $mainFontWeight;
  font-size: $mainFontSize;
  letter-spacing: $mainLetterSpacing;
}

body.modal-open {
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.default-title {
  margin-top: 0px;
  margin-bottom: 50px;

  color: $primaryTextColor;

  font-weight: $boldFontWeight;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  @media screen and (max-width: 1199px) {
    margin-top: 0px;
    margin-bottom: 30px;

    color: $primaryTextColor;

    font-weight: $boldFontWeight;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
  }
}

.default-section {
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.card-image {
  display: block;
  max-width: 100%;
  height: auto;
}

@import "./components/page-header";
@import "./components/page-logo";
@import "./components/page-modal";
@import "./components/page-hero";
@import "./components/page-features";
@import "./components/page-ourwork";
@import "./components/page-ourteam";
@import "./components/page-clients";
@import "./components/page-footer";
@import "./components/page-filter";
@import "./components/page-works";
