// ЛОГО ШАПКИ
.logo {
  @media screen and (max-width: 1199px) {
    font-size: 24px;
    line-height: 1.16;
  }

  font-family: $logoFont;
  font-weight: $boldFontWeight;
  font-size: 26px;
  line-height: 1.19;
  color: $primaryTextColor;
}

.logo-custom {
  color: $accentColor;
}

// ЛОГО ФУТЕРА
.logo-footer {
  @media screen and (max-width: 1199px) {
    font-size: 24px;
    line-height: 1.16;
  }

  display: block;
  margin-bottom: 20px;

  color: $contrastTextColor;
  font-family: $logoFont;
  font-weight: $boldFontWeight;
  font-size: 26px;
  line-height: 1.19;
}

.logo-custom {
  color: $accentColor;
}
