$mainFont: Roboto, sans-serif;

$logoFont: Raleway, sans-serif;

$mainFontStyle: normal;

$mainFontWeight: 400;

$boldFontWeight: 700;

$mainFontSize: 14px;

$mainLetterSpacing: 0.03em;

$primaryTextColor: #212121;

$secondaryTextColor: #757575;

$colorIcon: #afb1b8;

$contrastTextColor: #ffffff;

$accentColor: #2196f3;

$footerBgColor: #2f303a;

$primaryBgColor: #ffffff;

$secondaryBgColor: #f5f4fa;

$hoverBtnColor: #188ce8;

$transitionFunction: 250ms cubic-bezier(0.4, 0, 0.2, 1);
